doctype html
html
  head
    title Table
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    style.
      body {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
      }
      body::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, rgba(1, 178, 255,0.3), rgba(255, 117, 19,0.3), rgba(0, 40, 86,0.3));
        z-index: -1;
      }
      .table td, .table th {
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-top: 1px solid #000000;
      }
      .table th {
        background-color: #e6e6e6;

      }
      .table {
        margin-top: 50px;
      }
      .green {
        background-color: #7edb73;
      }
      .red {
        background-color: #ce9c29;
      }
  body
    .container
      table.table
        thead
          tr
            th(scope='col') Date
            th(scope='col') Time
            th(scope='col') Leadset
            th(scope='col') Batch Size
            th(scope='col') Hour_in
            th(scope='col') Hour_out
        tbody
          each val, index in data
            tr(class=(val.Hour_in && val.Hour_in.trim() === '') ? 'hour-in-empty' : '')
              td= val.Date
              td= val.Time
              td= val.Leadset
              td= val.BatchSize
              td(class=val.Hour_in ? 'green' : '')= val.Hour_in
              td(class=val.Hour_out ? 'red' : '')= val.Hour_out
stackpath.bootstrapcdn.com